.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

button {
  font-size: 20px;
  background: #4D5B9E;
  border: 1px solid;
  border-radius: 10px;
  padding: 10px 30px;
  color: #F5F7FB;
}

.scoreContainer {
  display: none;
  font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 19px;
    color: #293264;
    padding: 0 80px;
    text-align: left;
}

.playAgain {
  display: none;
}